body {
  background-color: #ddeeff !important;
}

.top.divider {
  height: 3em;
}

.top.divider.home {
  height: 4em;
}

.masthead {
  width: 100%;
  min-height: 85vh;
}

.masthead .ui.inverted.segment {
  background-color: rgba(48, 121, 255, 0.7);
}

.footer {
  background-image: url("../img/O97POP1.png") !important;
  background-repeat: repeat-x;
  background-position: top;
  background-size: cover;
  width: 100%;
  min-height: 15vh;
  z-index: -1;
  bottom: 0px;
}

.container.content {
  min-height: 85vh;
}

.fields.home,
.ui.form.home {
  margin-bottom: unset !important;
}

.segment.mydimmer {
  min-height: 98px !important;
}

.segments.white {
  background-color: #fff !important;
}

.segments.to.vertical {
  margin: unset !important;
  min-width: 90% !important;
}

.extra>.hide.lat,
.extra>.hide.lng {
  visibility: hidden !important;
}

.vl {
  border-left: 1px solid green;
  border-color: rgba(34, 36, 38, 0.15);
  margin-bottom: 0px;
  margin-left: 1em;
  margin-right: 1.5em;
}

.box {
  width: 100%;
  margin-left: 3rem;
}

.box ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  transition: all 0.5s linear;
  top: 0
}

.box ul:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  border: 1px dashed #2185D0;
  position: absolute;
  top: 0;
  left: 31px;
}

*,
::after,
::before {
  box-sizing: unset;
}

.box ul li {
  margin: 20px 60px 60px;
  position: relative;
  padding: 1em 1em;
  background: rgba(255, 255, 255);
  border-radius: .28571429rem;
  border: 1px solid rgba(34, 36, 38, .15);
  line-height: 20px;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
}

.box ul li>span {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  border: 1px solid #2185D0;
  position: absolute;
  top: 0;
  left: -30px
}

.box ul li>span:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #2185D0;
  position: absolute;
  left: -7px
}

.box ul li>span:before {
  top: 33px;
  left: -5px;
}

.box ul li:before {
  content: "";
  position: absolute;
  display: block;
  top: 2.7rem;
  left: 0;
  height: 10px;
  width: 10px;
  border: 7px solid transparent;
  background: #fff;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.box .title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.28571429em;
  margin-bottom: 5px;
}

.box .info:first-letter {
  text-transform: capitalize;
  line-height: 1.7
}

.box .time span {
  position: absolute;
  left: -110px;
  color: #000;
  font-weight: bold;
}

.box .time span:first-child {
  top: 16px;
  text-align: center;
}

.ui.page.dimmer {
  z-index: 1002 !important;
}